<div style="width:400px; height:300px; overflow-x:scroll; overflow-y:scroll">
<table  id = "categories_table">
<thead>
    <th>Parent</th>
    <th>Parent</th>
    <th>Parent</th>
</thead>
<tbody>
  <tr data-tt-id="1">
    <td>Parent</td>
    <td>Parent</td>
    <td>Parent</td>
  </tr>
  <tr data-tt-id="2" data-tt-parent-id="1">
    <td>Child</td>
    <td>Child</td>
    <td>Child</td>
  </tr>
    <tr data-tt-id="617" data-tt-parent-id="1">
    <td>Child</td>
    <td>Child</td>
    <td>Child</td>
  </tr>
    <tr data-tt-id="22" data-tt-parent-id="617">
    <td>Child</td>
    <td>Child</td>
    <td>Child</td>
  </tr>
   <tr data-tt-id="3" data-tt-parent-id="2">
    <td>Child</td>
    <td>Child</td>
    <td>Child</td>
  </tr>
</tbody>
</table>
</div>
