<div style="width:100%; height:300px; overflow-x:scroll; overflow-y:scroll">
<table  id = "categories_table">
<thead>
    <th>Category</th>
    <th>DocsCounter</th>
    <th>ChildDocsCounter</th>
</thead>
<tbody>
  <tr data-tt-id="-1">
    <td>...</td>
    <td></td>
    <td></td>
  </tr>
  <tr data-tt-id="0" data-tt-parent-id="-1">
    <td>Root</td>
    <td></td>
    <td></td>
  </tr>

</tbody>
</table>
</div>
