#content_tabs.panel.tabs
   ul  
     li
         a(href="#tabs-1") Link 1 
       li
         a(href="#tabs-2") Link 2
       li
         a(href="#tabs-3") Link 3
       #tabs-1
         p ksksksk1
       #tabs-2
         p ksksksk   2     
       #tabs-3
         p ksksksk3    