 
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#menu2">Documents</a></li>
	<li><a data-toggle="tab" href="#menu1">Map Objects</a></li>
	<li><a data-toggle="tab" href="#home">Active Search</a></li>
</ul>

<div class="tab-content ">
	<div id="menu2" class="tab-pane fade in active  ">
	<form id="docTableSearchForm" > 
	
	<span> Doc Type:</span> <select class=" pad3 docTypesCombo"> </select>
	<span> Apply Search Criteria:</span> <input name="applySearchCriteria"  type="checkbox" checked >
	</form>
	
	<table class="display" id="docs">
		<thead>
			<tr>
				<th>name</th>
				<th>id</th>
			</tr>
		</thead>

	</table>
	</div>
	
	<div id="home" class="tab-pane fade ">
		
	</div>
	<div id="menu1" class="tab-pane fade">
		table(id="mapObjects",class="table table-striped table-condensed table-hover")
			thead
			tr
				th Name
				th id
		tbody
		tr
		td
		td
	</div>

</div>