<!-- Modal -->
<div id="docSearchDlg" class="modal fade" role="dialog">

 
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Documents Search</h4>
      </div>
      <div class="modal-body">
     
  
<form id="docCommonSearchForm" > 
 <p> SearchFor: <input name="SearchFor"  type="text"  ><br></p>
  <p> Name: <input name="IncludeName"  type="checkbox" value="0" >
  <span> FilePath:</span> <input name="IncludeFilePath"  type="checkbox"  >
   <span> DD:</span> <input name="IncludeDD"  type="checkbox"  >
   <span> Text:</span> <input name="IncludeText"  type="checkbox"  >
  </p>
 <p> File size: 
   <select name="FileUnit"> 
    <option value="B">B</option>
    <option value="KB">KB</option>
    <option value="MB">MB</option>
    <option value="GB">GB</option>
   </select>
   <span>From:</span> 
   <input name="FileSize" type="text" size="4" data-sfOrder="1" > 
   <span>To:</span>  
   <input name="FileSize" type="text" size="4" data-sfOrder="2" ></p>
 <p> Doc Type: <select class="docTypesCombo"> </select></p>
</form>

  
  <div class="panel panel-default">
   <div class="panel-heading">Doc types</div>
    <div id="tabsPanel" class="panel-body">
     <form id="docTypesSearchForm" >
      <ul class="nav nav-tabs tabNames"></ul>
      <div class="tab-content tabContent pad0"></div>
     </form>
    </div>
   </div>
   
</div>

<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 <button id="applySearchCriteria" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
 </div>
</div>
</div>



</div>