<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">

 
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Documents Search</h4>
      </div>
      <div class="modal-body">
     
<form id="docCommonSearchForm" > 
 <p> Name: <input name="DocName"  type="text"  ><br></p>
 <p> Filename: <input name="Filename" type="text"  ><br></p>
 <p> Doc Type: <select>
  <option value="type1">type 1</option>
  <option value="saab">type 2</option>
  <option value="mercedes">type 3</option>
  <option value="audi">type 4</option>
 </select></p>

</form>
  
  <div class="panel panel-default">
  <div class="panel-heading">Doc types</div>
    <div class="panel-body">
    
<form id="docTypesSearchForm" >

<ul id="tabNames" class="nav nav-tabs">

 <li><a data-toggle="tab" href="#doc2">Doc Type 1</a></li>

</ul>

<div id="tabContent" class="tab-content">

<div id="doc2" class="tab-pane fade">
  <p> Name: <input value="" type="text"  ><br></p>
  <p> Type: <input value="" type="text"  ><br></p>
  <p> Size: <input value="" type="text"  ><br></p>
  <p> Col1: <input value="" type="text"  ><br></p>
  <p> Col2: <input value="" type="text"  > : <input id="search" type="text"  ></p>
  <p> Search: <input value="" type="text"  ><br></p>
</div>

</div>

</form>

</div>

</div>

 
 </div>
   <div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 <button id="applySearchCriteria" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
 </div>
</div>
</div>



</div>