<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Documents Search</h4>
      </div>
      <div class="modal-body">
      
      <p> Doc Search: <input id="search" type="text"  ><br></p>
        


  
  <div class="panel panel-default">
  <div class="panel-heading">Doc types</div>
    <div class="panel-body">
    

<ul class="nav nav-tabs">
 <li class="active"><a data-toggle="tab" href="#doc1">Doc Type</a></li>
 <li><a data-toggle="tab" href="#doc2">Doc Type 1</a></li>
 <li><a data-toggle="tab" href="#doc3">Doc Type 2</a></li>
</ul>

<div class="tab-content">
<div id="doc1" class="tab-pane fade in active">

  
</div>
<div id="doc2" class="tab-pane fade">
  <p> Name: <input id="search" type="text"  ><br></p>
  <p> Type: <input id="search" type="text"  ><br></p>
  <p> Size: <input id="search" type="text"  ><br></p>
  <p> Doc Search: <input id="search" type="text"  ><br></p>
  <p> Doc Search: <input id="search" type="text"  ><br></p>
  <p> Doc Search: <input id="search" type="text"  ><br></p>

</div>
<div id="doc3" class="tab-pane fade">
</div>
</div>


</div>

</div>

 
 </div>
   <div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 </div>
</div>
</div>
</div>