extends layout

block content

 <div class="pad0">
  include toolbar.pug
 </div>

  <div id="top_panel" class="row collapse in">
    <div id="left_top_panel" class="col-sm-3">
      include layers.pug
    </div>
  
  <div id="right_top_panel" class="col-sm-8">
      include map.pug
  </div>
  

  
  </div>
  

  
  <div class="row">
    <div id="left_bottom_panel" class="col-sm-3">
      include categories.pug
    </div>
  
    <div id="right_bottom_panel" class="col-sm-8">
      
      <div id="demo1" class="a">
      include contentTabs.pug
      </div>
    </div>
  </div>
  
 
  
  include docSearchDlg.pug
  
  
  include mapSearchDlg.pug
  

  script(type="text/javascript").
   $(document).ready(function() {
     $("#categories_table").treetable({ 
     	onNodeExpand: function(){
     		
            var node = this;
            var rowobject = node.row;
            //var row = '</tr><tr data-tt-id="2" data-tt-parent-id="1"><td>Child</td><td>Child</td> <td>Child</td></tr>';
            //$("#categories_table").treetable("loadBranch", node, row);
            var parameters = { id: this.id };
            $.get( '/categories/search',parameters, function(data) {
            //alert('onNodeExpand'+data.categories.length);
            var row = data.categories[0];
             $.each(data.categories, function(i, row) {
             //alert('row'+row.id);
             var rowTxt = '</tr><tr data-tt-id="'+row.id+'" data-tt-parent-id="'+row.parent+'">';
             rowTxt += '<td>'+row.label+'</td>';
             rowTxt += '<td>'+row.docsCounter+'</td>';
             rowTxt += '<td>'+row.childDocsCounter+'</td>';
             
             rowTxt += '</tr>';
             rowTxt += '</tr><tr data-tt-id="3333" data-tt-parent-id="'+row.id+'">';
             rowTxt += '<td>..</td>';
             rowTxt += '<td></td>';
             rowTxt += '<td></td>';
             
             rowTxt += '</tr>';
             
    	      $("#categories_table").treetable("loadBranch", node, rowTxt);
    	     //alert('rowTxt'+rowTxt);
    	     var row1 = '<tr data-tt-id="1" data-tt-parent-id="617"><td>"Data Rights"</td><td>Child</td><td>Child</td></tr>';
    	      
    	    });
               //var row = '</tr><tr data-tt-id="2" data-tt-parent-id="1"><td>Child</td><td>Child</td> <td>Child</td></tr>';
               //$("#categories_table").treetable("loadBranch", node, rowTxt);
                              
           });   
      },
     expandable: true,
     scroll: true
      });
   })