extends layout

block content

  include toolbar.pug

  <div id="top_panel" class="row">
    <div id="left_top_panel" class="col-sm-3">
      include layers.pug
    </div>
  
  <div id="right_top_panel" class="col-sm-8">

  <div class="container" >

  <div id="demo" class="collapse in">

  
  <div class="panel panel-default">
    <div class="panel-body">
      include map.pug
    </div>
    <div class="panel-footer">Panel Footer</div>
  </div>
  
  </div> </div>
  </div>
  </div>
  
  
  <div class="row">
    <div id="left_bottom_panel" class="col-sm-3">
      include categories.pug
    </div>
  
    <div id="right_bottom_panel" class="col-sm-8">
      <a href="#demo1" class="btn btn-info" data-toggle="collapse">hide table</a>
      <div id="demo1" class="a">
      include contentTabs.pug
      </div>
    </div>
  </div>
  
 
  
  include docSearchDlg.pug
  
  

  script(type="text/javascript").
   $(document).ready(function() {
     $("#categories_table").treetable({ expandable: true });
   })