<canvas id="myCanvas" width="50" height="50"  style="margin:5px; border:1px solid #000900;">
</canvas>
layer1 <br>



<canvas id="myCanvas1" width="50" height="50"  style="margin:5px; border:1px solid #000900;">
</canvas>
layer1 <br>

<canvas id="myCanvas2" width="50" height="50"  style="margin:5px; border:1px solid #0009ff;">
</canvas>
layer1
  <br> <br>
  
  
  
    <script>
  	var ctx = $("#myCanvas")[0].getContext("2d");
  	ctx.moveTo(0,0);
  	ctx.lineTo(200,100);
  	ctx.stroke();
  	
  	
  	var ctx = $("#myCanvas1")[0].getContext("2d");
  	ctx.moveTo(0,0);
  	ctx.fillRect(0,0,10,5);
  	ctx.fillStyle = "#FFff00";
  	ctx.lineTo(200,100);
  	ctx.stroke();
  	
  	
  </script>
  
