
<div id="layersDiv" class="panel panel-default">
<div class="panel-heading"><input type="checkbox">Wells
<input id="search" type="image" src="images/icons/layer-layer-on.png" >
<input id="search" type="image" src="images/icons/layer-labels-on.png" >
<input id="search" type="image" src="images/icons/layer-labels-on.png" >
<input id="search" type="image" src="images/icons/layer-labels-on.png" >
</div>
  <div class="panel-body" style="max-height: 50px;">
  <canvas id="myCanvas" width="50" height="20"  style="margin:1px; border:1px solid #000900;"> 
    
  </canvas>
  span &#09; lll
  <br>
    <canvas id="myCanvas" width="50" height="30"  style="margin:1px; border:1px solid #000900;">
  </canvas>
    <canvas id="myCanvas" width="50" height="30"  style="margin:1px; border:1px solid #000900;">
  </canvas>
  </div>
</div>



<canvas id="myCanvas1" width="50" height="30"  style="margin:5px; border:1px solid #000900;">
</canvas>
<label><input type="checkbox"> Remember me</label>
<hr>
<canvas id="myCanvas2" width="50" height="30"  style="margin:5px; border:1px solid #0009ff;">
</canvas>
p layer1
  <br> <br>
  