#content.panel
  #map.map

script(type="text/javascript").
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
            source: new ol.source.OSM()
        }),
      new ol.layer.Tile({
        title: 'Global Imagery',
        source: new ol.source.TileWMS({
         // url: 'http://demo.opengeo.org/geoserver/wms',
          url: 'http://gs.hamptondata.com/geoserver/hds/wms?service=WMS',
          params: {LAYERS: 'hds:wells_eom_WI', VERSION: '1.1.0'}
          //params: {LAYERS: 'nasa:bluemarble', VERSION: '1.1.1'}
        })
      })

    ],
    view: new ol.View({
      projection: 'EPSG:4326',
      center: [0, 0],
      zoom: 0,
      maxResolution: 0.703125
    })  }) 
    
