<div id="mapSearchDlg" class="modal fade" role="dialog">
 
 <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Map Objects Search</h4>
   </div>
   
   <div class="modal-body">
    <form id="mapCommonSearchForm" > 
     <p> Name: <input name="DocName"  type="text"  ><br></p>
     <p> Map Type: <select>
      <option value="type1">type 1</option>
      <option value="saab">type 2</option>
      <option value="mercedes">type 3</option>
      <option value="audi">type 4</option>
     </select></p>
    </form>
  
  <div class="panel panel-default">
  <div class="panel-heading">Map Object types</div>
    <div id="tabsPanel" class="panel-body">
    
<form id="mapTypesSearchForm" >

<ul class="nav nav-tabs tabNames">

</ul>

<div  class="tab-content tabContent">

</div>

</form>

</div>

</div>

 
 </div>
   <div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 <button id="submitMapObjSPDlg" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
 </div>
</div>
</div>



</div>