<input id="button" type="image" src="images/statusBar1.png">  
<button style="background: url(images/statusBar1.png)" id="self-destruct">yy</button>
<button id="self-destruct"></button>

 p Don't <button id="self-destruct"></button> me!

      
      p
  | bla
  <br> <br>

  
  
  <div id="dialog" title="Basic dialog">
  
</div>


  <script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
  </script>