<div style="width:100%;" class="panel panel-default">
<div class="panel-footer">Document</div>
<div  class="panel-body">
<input id="search" type="image" src="images/icons/DEV_SD_red.gif" data-toggle="modal" data-target="#myModal">
<input id="search" type="image" src="images/icons/documents-search.png" >

  <a href="#top_panel" class="btn btn-info" data-toggle="collapse">map visibility</a>

</div>
</div>
  
  


