<div  class="panel panel-default col-md-1 pad0">
 <div class="panel-footer pad0">General</div>
 <div style="height:31px;" class="panel-body pad3">
 <input  id="openOptionsDlgBtn" type="image" src="images/icons/wrench.png" >
 <input id="openSettingsDlgBtn" type="image" src="images/icons/gear.png" >
 </div>
</div>

<div  class="panel panel-default col-md-2 pad0">
 <div class="panel-footer pad0">Document</div>
 <div  class="panel-body pad0">
 <input class = "pad2" id="fireDocSearchBtn" type="image" src="images/icons/DEV_SD_green.png"  >
 <input class = "pad2" id="openDocSearchDlgBtn" type="image" src="images/icons/documents-search.png" data-toggle="modal" data-target="#docSearchDlg" >
 <input class = "pad2" id="addDocDlgBtn" type="image" src="images/icons/document-add.png" >
  <input class = "pad2" id="addBriefcase" type="image" src="images/icons/briefcase.png" >
 </div>
</div>

<div  class="panel panel-default col-md-2 pad0">
 <div class="panel-footer pad0">Map</div>
 <div  class="panel-body pad0">
 <input class = "pad2" id="openMapSearchDlgBtn" type="image" src="images/icons/mapobject-search.png" data-toggle="modal" data-target="#mapSearchDlg">

 <input class = "pad2" id="fireMapSearchBtn" type="image" src="images/icons/map-search-fire.gif" onclick="showObjects();">
   <input class = "pad2" id="briefcaseMap" type="image" src="images/icons/briefcaseMap.png" >
 <a href="#top_panel" data-toggle="collapse"><img src="images/icons/map-arrow.png"></a>
 </div>
</div>
  
<div  class="panel panel-default col-md-5 pad0">
 <div class="panel-footer pad0">Active</div>
 <div style="height:31px;" class="panel-body pad3 font-sm">
 <input  type="image" src="images/icons/chain_trans.png" > No active linkage group
 <input  type="image" src="images/icons/briefcase_trans.png" > No active Briefcase
  <input  type="image" src="images/icons/briefcaseMap_trans.png" > No active Map Object Briefcase group
  <input  type="image" src="images/icons/globe-green.png" > Map Scale
 </div>
</div>

<div style="height:55px;" class="panel panel-default col-md-1 pad0">
 <img src="images/icons/hampton.png">
</div>


