body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.panel {
    overflow: auto;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
}

div.map {
    width: 100%;
    heigth: 100%;
}

div.tabs {
    width: 78%;
    heigth: 100%;
}

div.layers {
    resize: both;
    float: left;
    width: 20%;
    heigth: 50%;
}

div.tree {
    resize: both;
    float: left;
    width: 20%;
    heigth: 50%;
}