body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.panel {
    overflow: auto;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
}

div.map {
    width: 100%;
    heigth: 100%;
}

div.tabs {
    width: 78%;
    heigth: 100%;
}

div.layers {
    resize: both;
    float: left;
    width: 20%;
    heigth: 50%;
}

div.tree {
    resize: both;
    float: left;
    width: 20%;
    heigth: 50%;
}



.navbar-nav>.active>a {
  border: 1px solid #333; 
}

body {
  margin: 0;
  padding-top: 50px;
  background-color: #222;
}

#content {
  height: calc(100vh - 64px);
}

.tab {
  float: left;
  height: 100%;
}

#left_bottom_panel,
#left_top_panel {
  border-width: 0 5px 0 0;
  border-style: solid;
  -webkit-border-image: 
    -webkit-gradient(linear, 100% 0, 0 0, from(rgba(0, 0, 0, 1)), to(rgba(84, 84, 84, 0.8))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0.8)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(left, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0.8)) 1 100%;  
  -o-border-image:
    -o-linear-gradient(left, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0.8)) 1 100%;
  border-image:
      linear-gradient(to left, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0.8)) 1 100%;
}

#left_bottom_panel,
#left_top_panel {
  width: 25%;
}

#right_top_panel,
#right_bottom_panel {
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}


#utils {
  background-color: brown;
  /* wenn nicht -1px */
  /* bricht utils beim Schieben auf die nächste Zeile */
  width: calc(10% - 1px);
}